@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?hwqvna');
    src:  url('../fonts/icomoon.eot?hwqvna#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hwqvna') format('truetype'),
    url('../fonts/icomoon.woff?hwqvna') format('woff'),
    url('../fonts/icomoon.svg?hwqvna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w{
    width:1200px;
    /*height:0;*/
    margin: auto;
}

/*快速导航css*/
.shortcut{
    height: 30px;
    background-color: #f1f1f1;
}

.fl{
    height: 31px;
    float: left;
}

.fr{
    float: right;
    height: 31px;
}

.fl ul li {
    float: left;
    line-height: 31px;
}

 .fr ul li {
    float: right;
    line-height: 31px;
}

.fr ul li:nth-child(even){
    width: 1px;
    height: 1px;
    margin: 0px 14px 0px 14px;
}

.fr ul .more-ico::after{
    content: " \ea3e";
    font-family: 'icomoon';
    margin-left: 2px;
}


/*header css*/
.header{
    position: relative;
    left: 0;
    height: 55px;
    margin-bottom: 24px;
    background-color: white;
    margin-top: 27px;
}



.header .back-img-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 219px;
    height: 55px;
    background: url("../images/logo.png") no-repeat;
}

.header-search{
    position: absolute;
    left: 50%;
    margin-left: -270px;
    width: 540px;
    height: 36px;
    background-color: black;
}

.header-search .back-search{
    width: 100%;
    height: 100%;
    background-color: #b1191a;
}

.header-search .back-search input[type="search"]{
    position: absolute;
    left: 0;
    width: 454px;
    height: 30px;
    margin: 3px;
}

.header-search .back-search input[type="button"]{
    position: absolute;
    right: 25px;
    top: 8px;
    color: white;
    background-color:rgba(0,0,0,0);
    transition: color 1s;
}

.header-search .back-search input[type="button"]:hover{
    color: #00a4ff;
}

.header-search .back-search input[type="button"]:active{
    font-size: 14px;
}

.header .keyword{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    bottom: 0;
}

.header .keyword ul li {
   float: left;
    margin-left: 10px;
}

/*我的购物*/
.mybuy{
    position: absolute;
    right: 62px;
    width: 142px;
    height: 35px;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 35px;
}

.mybuy::before{
    content: "\e905";
    font-family: "icomoon";
    margin-right: 5px;
}

.mybuy::after{
    content: "\ea3c";
    font-family: "icomoon";
    margin-left: 5px;
}

.mybuy .count{
    position: absolute;
    right: 18px;
    top: -8px;
    height: 14px;
    background-color: red;
    line-height: 14px;
    font-size: 3px;
    border-radius: 7px 7px 7px  0;
}
