@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?huhyst');
    src:  url('../fonts/icomoon.eot?huhyst#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?huhyst') format('truetype'),
    url('../fonts/icomoon.woff?huhyst') format('woff'),
    url('../fonts/icomoon.svg?huhyst#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

body{
    width: 100%;
    margin: 0  auto;
    max-width: 1080px;
    min-width: 320px;
    font-size: 14px;
    font-family: -apple-system,Helvetica,sans-serif;
    line-height: 1.5;
    color: #666;
}

header{
    height: 50px;
}
header ul {
    position: relative;
}

header ul li {
    float: left;
    height: 50px;
    list-style: none;
    background-color:#232326;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}

header ul li:nth-child(1){
    width: 12%;
}

header ul li:nth-child(1) img{
    width: 16px;
}

header ul li:nth-child(2){
    width: 12%;
}

header ul li:nth-child(2) img{
    width: 35px;
    vertical-align: middle;
}

header ul li:nth-child(3){
    width: 50%;
    color: white;

}


header ul li:nth-child(4){
    width: 26%;
    background-color: #cd2525;
    color: white;
}


.search-large {
    position: fixed;
    width: 100%;
    height: 44px;
    background-color: #fe263e;
    overflow: hidden;
}


.search-large .left{
    position: absolute;
    top: 0;
    width: 40px;
    height: 44px;
}

.search-large .left span {
    display: block;
    background: url("../images/s-btn.png") no-repeat;
    background-size: 20px 16px;
    width: 20px;
    height: 16px;
    margin: 10px 0 0 10px;
}

.search-large .right{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: white;
    font-size: 15px;
    margin: 0px 20px;
}

.search-large .right span{
    color: white;
    font-size: 15px;
}


.search-box{
    position: relative;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 5px 70px;
}

.search-box .search-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 15px;
    background: url("../images/jd.png") no-repeat;
    background-size: 20px 15px;
}

.search-box .search-icon::after{
    position: absolute;
    content: "";
    left: 25px;
    width: 1px;
    height: 15px;
    border-right: 1px solid #dddddd;
}

.expand{
    position: absolute;
    left: 44px;
    top: 10px;
    background: url("../images/jd-sprites.png") no-repeat -82px 0px;
    width: 19px;
    height: 18px;
    background-size: 200px 200px;
}

.repeat{
    padding: 3%;
    background-color: #ff005c;
}

.repeat img{
    width: 100%;
    height: 100%;
}

.ms::after{
    content: "";
    display: block;
    clear: both;
}

.ms div{
    float: left;
    width: 33.33%;
}

.ms div img{
    width: 100%;
}

.nav{
    margin:5px 0px 0px 20px;
    background-color: #f6f6f6;
}
.nav ul li{
    float: left;
    width: 20%;
    list-style: none;
    margin: 5px 0px;
}

.nav ul li a img{
    width: 60px;
    height: 60px;
}

.nav ul li a span{
    display: block;
    color: #666666;
}

.news div{
    float: left;
}

.news div:nth-child(1){
    width: 50%;
}

.news div:nth-child(2){
    width: 25%;
}

.news div:nth-child(3){
    width: 25%;
}

.news div img{
    width: 100%;
    height: 100%;
}