body{
    font: normal 16px/1.5 PingFangSC-regular,Tahoma,Lucida Grande,Verdana,Microsoft Yahei,STXihei,hei;
    color: #000;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    max-width: 540px;
    margin: 0 auto;
    background: #f4f4f4;
    /*overflow: hidden;*/
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}


.search-index{
    display: flex;
    /*固定定位必须有宽度*/
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
}

.search-index .search{
    flex: 1;
    height: 44px;
}

.search-index .user{
    width: 44px;
    height: 44px;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 10px;
    color:#099fde;
}


.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background:url("../images/sprite.png") no-repeat -58px -192px;
    background-size: 104px 327px;
    margin: 2px auto 0;
}

.search-index .search{
    box-sizing: border-box;
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 6px;
    height: 26px;
    margin: 9px 9px;
    padding: 2px 0 0 36px;
    color: #666666;
    font-size: 14px;
}

.search::before{
    position: absolute;
    left: 0;
    content: "";
    display:block;
    width: 15px;
    height: 15px;
    background:url("../images/sprite.png") no-repeat -58px -279px;
    background-size: 104px 327px;
    margin: 3px 0px 0 5px;
}

.banner{
    padding-top: 42px;
}

.banner img{
    width: 100%;
}

/*头部导航*/
.nav-top ul{
    display: flex;
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    border-radius: 10px;
}

.nav-top ul li{
    flex: 1;
}

.nav-top ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-top ul li a span:nth-of-type(1){
    margin-top: 6px;
}

.nav-top ul li a span:nth-of-type(2){
    color: black;
    font-size: 12px;
}

.nav-icon1{
    width: 32px;
    height: 32px;
    background: url("../images/localnav_bg.png") no-repeat 0 0;
    background-size: 32px 160px;
}

.nav-icon2{
    width: 32px;
    height: 32px;
    background: url("../images/localnav_bg.png") no-repeat 0 -32px;
    background-size: 32px 160px;
}

.nav-icon3{
    width: 32px;
    height: 32px;
    background: url("../images/localnav_bg.png") no-repeat 0 -64px;
    background-size: 32px 160px;
}

.nav-icon4{
    width: 32px;
    height: 32px;
    background: url("../images/localnav_bg.png") no-repeat 0 -96px;
    background-size: 32px 160px;
}

.nav-icon5{
    width: 32px;
    height: 32px;
    background: url("../images/localnav_bg.png") no-repeat 0 -128px;
    background-size: 32px 160px;
}

/*正式导航*/
.nav-index{
    display: flex;
    flex-direction: column;
    margin: 4px 4px 0 4px;
}

.nav-index>nav{
    height: 88px;
    background-color: skyblue;
    margin-bottom: 2px;
}

.nav-one{
    display: flex;
}

.nav-one div{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}


.nav-one div:nth-of-type(n+2) a{
    overflow: hidden;
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    line-height: 45px;
    border: 1px solid #ffffff;
}

.nav-one div:nth-of-type(1) a{
    flex: 1;
    background: url("../images/hotel.png") no-repeat bottom center  ;
    background-size: 121px 46px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
}

.nav-index .nav-one:nth-of-type(1){
    background: -webkit-linear-gradient(left,#fa5b55,#fa984d);
}

.nav-index .nav-one:nth-of-type(2){
    background: -webkit-linear-gradient(left,#4b90ed,#53bbed);
}

.nav-index .nav-one:nth-of-type(3){
    background: -webkit-linear-gradient(left,#35c2a7,#6bd45a);
}


.nav-side{
    background-color: #ffffff;
}

.nav-side ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-side ul li{
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.nav-side ul li a:nth-of-type(1){
    width: 28px;
    height: 20px;
    background: url("../images/subnav-bg.png") no-repeat 0 0;
    background-size: 24px 300px;
}

.nav-side ul li a:nth-of-type(2){
    font-size: 12px;
    color: black;
}

.activity{
    position: relative;
    background-color:#ffffff;
    margin-top: 5px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.activity div:nth-of-type(1){
    height: 1px;
    margin: 30px 0;
}

.activity div:nth-of-type(1)::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 5px;
    width: 79px;
    height: 15px;
    display: block;
    background: url("../images/hot.png") no-repeat 0 -19px;
    background-size: 79px 57px;
}

.activity a{
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 3px 20px 3px 10px;
    background: pink;
    border-radius: 50px;
    color: white;
    background:-webkit-linear-gradient(left,#ff516e,#ff6ac3);
    font-size: 15px;
}

.activity a::after{
    content: "";
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-top:1px solid #ffffff ;
    border-right:1px solid #ffffff;
    transform:rotate(45deg);
}

.activity-bottom ul{
    display: flex;
    flex-wrap: wrap;
}

.activity-bottom ul li{
    flex: 50%;
    background-color: pink;
}

.activity-bottom ul li img{
    width: 100%;
    height: 100%;
}






















