<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="vue.js"></script>
</head>

<body>
  <div id="app" class="w">
    <table v-if="!books.length < 1">
      <thead>
        <tr>
          <td></td>
          <td>书籍名称</td>
          <td>出版日期</td>
          <td>价格</td>
          <td>购买数量</td>
          <td>操作</td>
        </tr>
      </thead>


      <tbody>
        <tr v-for="item,index in books">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td>{{item.price}}</td>
          <td>
            <button @click="increment(index)">+</button>
            <span class="buytotal">{{item.count}}</span>
            <button @click="decrement(index)" :disabled="item.count <= 1">-</button>
          </td>

          <td><button @click="removebook(index)">移除</button></td>
        </tr>
      </tbody>
      <p></p>
    </table>
    
    <div v-else>购物车为空</div>

    总价:{{totalPrice}}

  </div>




  <script src="js/index.js"></script>
</body>

</html>